parametersSchema:
  phpstanFunctionalProgramming: structure([
    disallowClasses: bool()
    disallowLoops: bool()
    disallowThrow: bool()
    disallowUnusedExpression: bool()
    disallowVariablesMutation: bool()
    disallowMutatingFunctions: bool()
  ])

parameters:
  phpstanFunctionalProgramming:
    disallowClasses: true
    disallowLoops: true
    disallowThrow: true
    disallowUnusedExpression: true
    disallowVariablesMutation: true
    disallowMutatingFunctions: true

services:
  -
    class: Hexlet\PHPStanFp\Rules\Classes\DisallowClassesRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowClasses: %phpstanFunctionalProgramming.disallowClasses%
  -
    class: Hexlet\PHPStanFp\Rules\Loops\WhileRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowLoops: %phpstanFunctionalProgramming.disallowLoops%
  -
    class: Hexlet\PHPStanFp\Rules\Loops\DoWhileRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowLoops: %phpstanFunctionalProgramming.disallowLoops%
  -
    class: Hexlet\PHPStanFp\Rules\Loops\ForRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowLoops: %phpstanFunctionalProgramming.disallowLoops%
  -
    class: Hexlet\PHPStanFp\Rules\Loops\ForeachRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowLoops: %phpstanFunctionalProgramming.disallowLoops%
  -
    class: Hexlet\PHPStanFp\Rules\Exceptions\DisallowThrowRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowThrow: %phpstanFunctionalProgramming.disallowThrow%
  -
    class: Hexlet\PHPStanFp\Rules\Expression\DisallowUnusedExpressionRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowUnusedExpression: %phpstanFunctionalProgramming.disallowUnusedExpression%
  -
    class: Hexlet\PHPStanFp\Rules\Variables\AssignRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowVariablesMutation: %phpstanFunctionalProgramming.disallowVariablesMutation%
  -
    class: Hexlet\PHPStanFp\Rules\Variables\AssignOpRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowVariablesMutation: %phpstanFunctionalProgramming.disallowVariablesMutation%
  -
    class: Hexlet\PHPStanFp\Rules\Variables\PostIncRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowVariablesMutation: %phpstanFunctionalProgramming.disallowVariablesMutation%
  -
    class: Hexlet\PHPStanFp\Rules\Variables\PostDecRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowVariablesMutation: %phpstanFunctionalProgramming.disallowVariablesMutation%
  -
    class: Hexlet\PHPStanFp\Rules\Variables\PreIncRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowVariablesMutation: %phpstanFunctionalProgramming.disallowVariablesMutation%
  -
    class: Hexlet\PHPStanFp\Rules\Variables\PreDecRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowVariablesMutation: %phpstanFunctionalProgramming.disallowVariablesMutation%
  -
    class: Hexlet\PHPStanFp\Rules\Functions\DisallowMutatingFunctionsRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowMutatingFunctions: %phpstanFunctionalProgramming.disallowMutatingFunctions%
