parametersSchema:
  phpstanFunctionalProgramming: structure([
    disallowClasses: bool()
  ])

parameters:
  phpstanFunctionalProgramming:
    disallowClasses: true

services:
  -
    class: Hexlet\PHPStanFp\Rules\Classes\DisallowClassesRule
    tags:
      - phpstan.rules.rule
    arguments:
      disallowClasses: %phpstanFunctionalProgramming.disallowClasses%
