parameters:
  level: 8
  paths:
    - src
    - tests

  excludes_analyse:
    - tests/*/data/*

  checkGenericClassInNonGenericObjectType: false
  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
    - '#Call to an undefined method PhpParser\\Node#'
